<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.description }}" 
        class="img-responsive"
        style="height: 10em"
        >
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>
            {{recipe.name}}
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group"
        appDropdown
        >
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Recipe
                <span class="caret">
                </span>
            </button>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a href="#" class="dropdown-toggle" role="button"> Manage 
                        <span class="caret"></span>
                    </a>
                    <ul class="drop-down-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>